@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Lato', sans-serif;
	background-color: #fff;
	color: #333;
}

.card-container {
  max-width: 345;
}

.card-container:hover {
  cursor: pointer;
}

.card-image {
  height: 80px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.detail-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 2rem;
	z-index: 1;
	width: 100%;
	opacity: 0.9;
	margin-bottom: 1rem;
  background: #1B71B9;
	color: #fff;
}

.navbar ul {
  display: flex;
}

ul {
	display: block;
  list-style: none;
}

li {
  text-decoration: none;
}

a {
	color: #fff;
	padding: 0.45rem;
  text-decoration: none;
  margin: 0 0.25rem;
}

.people-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.person-detail-container {
  background-color: white;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 400px;
  height: 400px;
  border: 2px solid #000;
}